redirects: on
source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget FAKE
nuget SourceLink.Fake

nuget FSharp.Configuration
nuget ExtCore
nuget Chiron
nuget Newtonsoft.Json
nuget Topshelf.FSharp
nuget Serilog.Sinks.Seq
nuget Serilog.Extras.Attributed
nuget Destructurama.FSharp

nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Security.Cookies
nuget Microsoft.AspNet.WebApi.Cors
nuget Microsoft.AspNet.WebApi.Owin
nuget GNaP.WebApi.Versioning

nuget Exira.EventStore.Owin
nuget Exira.ErrorHandling
nuget Exira.VersionHeader.Owin
nuget Exira.CsrfValidation.Owin

nuget FsCheck.Xunit
nuget Unquote

github fsharp/FAKE modules/Octokit/Octokit.fsx
