redirects: on
source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget FAKE
nuget SourceLink.Fake

nuget FSharp.Configuration
nuget Topshelf.FSharp
nuget Akka.FSharp
nuget Akka.Remote

nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Cors
nuget Microsoft.AspNet.SignalR.SystemWeb
nuget FSharp.Interop.Dynamic

github fsharp/FAKE modules/Octokit/Octokit.fsx
